<div class="d-flex justify-content-center">
  <h1 class="title">Medals per country</h1>
</div>

<div class="d-flex justify-content-around m-a w-40">
  <div class="subtitle">
    <h2>Nomber of JOs</h2>
    <p>{{ (olympics$ | async)?.length }}</p>
  </div>
  <div class="subtitle">
    <h2>Nomber of countries</h2>
    <p>{{ (olympics$ | async)?.length }}</p>
  </div>
</div>

<ngx-charts-pie-chart
  [results]="single"
  [gradient]="gradient"
  [legend]="showLegend"
  [labels]="showLabels"
  [doughnut]="isDoughnut"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
>
</ngx-charts-pie-chart>
