/* You can add global styles to this file, and also import other style files */

*{
  font-family: OpenSans, sans-serif;
}
.d-flex{
  display: flex;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-around{
  justify-content: space-around;
}
.m-a{
  margin: auto;
}
// mixin
@mixin width($value) {
  width: percentage($value / 100);
}

@for $i from 1 through 100 {
  .w-#{$i} {
    @include width($i);
  }
}


